include README.md
include LICENSE

include pyproject.toml
include requirements.txt

recursive-include static *.ttf *.woff *.woff2 *.css *.js *.ico *.png *.svg

include version.txt

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .DS_Store
global-exclude *.so
global-exclude .git*
exclude .gitignore
